<mat-toolbar color="warn">
  <button mat-button routerLink="home">home</button>

  <button mat-button [matMenuTriggerFor]="belowMenu" routerLink="input">
    input
  </button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="beforeMenu" routerLink="autocomplete">
    auto complete
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="nestedMenu">nested menu</button>
  <mat-menu #nestedMenu="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="sundar">sundar</button>
    <button mat-menu-item [matMenuTriggerFor]="sam">sam</button>
  </mat-menu>
  <!-- nested menu -->
  <mat-menu #sundar="matMenu">
    <button mat-menu-item>gouranga</button>
    <button mat-menu-item>sundar</button>
    <button mat-menu-item>mahato</button>
  </mat-menu>
  <mat-menu #sam="matMenu">
    <button mat-menu-item>samyukta</button>
    <button mat-menu-item>sekhar</button>
  </mat-menu>
</mat-toolbar>
